{% extends "base.html" %} {% load static %} {% block content %}

<!-- Carton -->
<section class="page-section cta" >
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <div>
                        <label>Carton: {{Carton_bd}}</label>
                    </div>
                    <table class="carton table table-responsive" id="carton">
                        <tbody>
                            <tr>
                                {% if celda00 %}
                                    {% if celda00.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda00.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda00.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}
                                
                                
                                {% if celda10 %}
                                    {% if celda10.1 == True %}
                                        <td id="10" style="background-color:green; text-align: center;"><h1>{{celda10.0}}</td>
                                    {% else %}
                                        <td id="10" style="background-color:orange; text-align: center;"><h1>{{celda10.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td id="10" style="background-color:lightslategray;"></td>      
                                {% endif %}


                                {% if celda20 %}
                                    {% if celda20.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda20.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda20.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda30 %}
                                    {% if celda30.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda30.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda30.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda40 %}
                                    {% if celda40.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda40.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda40.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda50 %}
                                    {% if celda50.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda50.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda50.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda60 %}
                                    {% if celda60.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda60.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda60.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %} 

                                {% if celda70 %}
                                    {% if celda70.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda70.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda70.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda80 %}
                                    {% if celda80.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda80.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda80.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}
                            </tr>
                            <tr>
                                {% if celda01 %}
                                    {% if celda01.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda01.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda01.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %} 

                                {% if celda11 %}
                                    {% if celda11.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda11.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda11.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda21 %}
                                    {% if celda21.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda21.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda21.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda31 %}
                                    {% if celda31.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda31.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda31.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda41 %}
                                    {% if celda41.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda41.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda41.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda51 %}
                                    {% if celda51.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda51.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda51.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda61 %}
                                    {% if celda61.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda61.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda61.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda71 %}
                                    {% if celda71.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda71.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda71.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda81 %}
                                    {% if celda81.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda81.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda81.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                            </tr>
                            <tr>
                                {% if celda02 %}
                                    {% if celda02.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda02.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda02.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %} 

                                {% if celda12 %}
                                    {% if celda12.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda12.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda12.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda22 %}
                                    {% if celda22.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda22.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda22.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda32 %}
                                    {% if celda32.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda32.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda32.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %} 

                                {% if celda42 %}
                                    {% if celda42.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda42.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda42.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %} 

                                {% if celda52 %}
                                    {% if celda52.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda52.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda52.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda62 %}
                                    {% if celda62.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda62.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda62.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}

                                {% if celda72 %}
                                    {% if celda72.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda72.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda72.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %} 

                                {% if celda82 %}
                                    {% if celda82.1 == True %}
                                        <td style="background-color:green; text-align: center;"><h1>{{celda82.0}}</td>
                                    {% else %}
                                        <td style="background-color:orange; text-align: center;"><h1>{{celda82.0}}</td>
                                    {% endif %}
                                {% else %}
                                    <td style="background-color:lightslategray;"></td>      
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
{% block extrajs %}
<script src="{% static 'js/carton/index.js' %}"></script>
{% endblock extrajs %}

