{% extends "base.html" %}

{% block content %}

<!-- Formulario de descarga -->

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center ">
            <h2 class="section-heading mb-4">
              <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <label>Nombre:</label>
                      {{formulario_descarga.nombre}}
                    </div>
                    <div class="row">
                      <label>Apellido:</label>
                      {{formulario_descarga.apellido}}
                    </div>
                    <div class="row">
                      <label>Direccion:</label>
                      {{formulario_descarga.direccion}}
                    </div>
                    <div class="row">
                      <label>DNI:</label>
                      {{formulario_descarga.documento}}
                    </div>
                    <div class="row">
                      <label>E-mail:</label>
                      {{formulario_descarga.email}}
                    </div>
                    <div class="row">
                      <label>Tel:</label>
                      {{formulario_descarga.telefono}}
                    </div>
                    <div class="submit-card">
                      <input type="submit" value="GENERAR" id="submit_descarga">
                    </div>
              </form>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}