{% extends "base.html" %} {% load static %} {% block content %}




  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2>
                <!--<span class="section-heading-upper">CARTONAZO</span>-->
                <span class="section-heading-lower">Cartonazo</span>
              </h2>
              {% if user.is_authenticated %}
              <h2><span class="section-heading-lower">{{nombre}}</span></h2>
              <p class="mb-0">GENERA TU CARTON Y PARTICIPA!</p>
              <p class="mb-0">EL JUEGO SE RENUEVA TODAS LAS SEMANAS</p>
              {% else %}
              <p class="mb-0">REGISTRATE, GENERA TU CARTON Y PARTICIPA!</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}